---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
  title?: string;
  fullTitle?: boolean;
  description?: string;
}

const { title, fullTitle, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} fullTitle={fullTitle}>
    <slot name="head" />
  </BaseHead>
  <body class="font-sans antialiased" transition:persist>
    <div
      class="mx-auto grid min-h-svh max-w-lg grid-rows-[auto_1fr_auto] px-4 py-16 lg:max-w-xl"
    >
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
